<!DOCTYPE HTML>
<html lang="en">

<head th:replace="fragments/head">
	

</head>

<body>
	<nav th:replace="fragments/nav :: nav-product"></nav>

	<div class="container-fluid">
		<div class="row">
			<nav th:replace="fragments/sidebarMenu"></nav>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">Add product</h1>
					<a href="/admin/product"><button type="button"
							class="btn btn-dark" float="left">Back</button></a>
				</div>

				<div>
					<div th:if="${message}" th:text="${message}"
						th:class="${'alert' + alertClass}"></div>
					<form th:action="@{/admin/product/addProduct}" method="POST"
						th:object="${product}"  enctype="multipart/form-data">

						<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							<h2>Has errors</h2>
						</div>

						<div class="form-group">
							<label name>Name</label> 
							<input type="text" class="form-control" th:field="*{name}" placeholder="Enter product name" required />
							<span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
						</div>
						<div class="form-group">
							<label>Category</label>
							<select th:field="*{categoryId}" class="form-control">
								<option th:value="0">Select one category</option>
								<option th:each="cat : ${category}" th:value="${cat.id}" th:text="${cat.name}"> </option>
							</select>
							<span class="error" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"></span>
						</div>
						
						<div class="form-group">
							<label name>Description</label>
							 <textarea  class="form-control" th:field="*{description}" placeholder="Enter product description" required ></textarea>
							<span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
						</div>
						
						
						<div class="form-group">
							<label name>Choose image</label> 
							<input type="file" class="form-control" th:name="file" id="image" />
							<img class="mt-2" alt="" src="#" id="imgPreview" height="120px" width="120px">
						</div>
						
						<div class="form-group">
							<label name>Price</label> 
							<input type="text" class="form-control" th:field="*{price}" placeholder="Enter price eg: 20$, 20.99$" required />
							<span class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
						</div> 
						
						
						
						<div>
							<button type="submit" class="btn btn-info">Add product</button>
						</div>


					</form>





				</div>
			</main>
		</div>
	</div>
	<footer th:replace="fragments/footer"></footer>
</body>
</html>

<script>
function display(input) {
	   if (input.files && input.files[0]) {
	      var reader = new FileReader();
	      reader.onload = function(event) {
	         $('#imgPreview').attr('src', event.target.result);
	      }
	      reader.readAsDataURL(input.files[0]);
	   }
	}

	$("#image").change(function() {
	   display(this);
	});
	
	
	
    CKEDITOR.replace('description');


</script>



