 <nav id="sidebarMenu" class="w-10 m-6 p-6  col-md-1 col-lg-3 d-md-block bg-light sidebar collapse" th:fragment="categoryMenu">
      <div class="sidebar-sticky pt-2">
      <h3>Categories</h3>
        <ul class="nav flex-column">
          <li class="list-group-item">
            <a class="nav-link active" href="/category/all">
             
            All Category List 
            </a>
          </li>
          <li class="list-group-item" th:each="category : ${commonCategories}" >
            <a class="nav-link" th:href="@{'/category/' + ${category.slug}}" th:text="${category.name}">
             
            </a>
      	 </li>
      	 
        </ul>
         <div class="text-success pt-2">
        	<div class="cart cartActive"  th:if="${checkActiveCart}">
        		<p> Total Item in cart : <span th:text="${csize}"> </span> </p>
        		<p> Total Price: $ <span th:text="${ctotalPrice}"></span>
        		<p>
        			<a href="/cart/view" class="btn btn-primary"> View cart </a>
        			<a href="/cart/delete" class="btn btn-danger"> Delete from cart </a>
        		</p>
        	</div> 
        	<div class="cart cartInActive" th:unless="${checkActiveCart}">
        		<p> No Item in a cart </p>
        		
        	</div>
        
        </div>
       

      
      </div>
      
      
    </nav>
    
    
   