
<div th:fragment="nav-home">



	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">


		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">ShopME</a>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active" th:each="page : ${commonPage}">
					<a th:if="${page.slug != 'home'}" class="nav-link" th:href="@{'/'+ ${page.slug}}" th:text="${page.title}"></a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap"><a class="nav-link" href="#">Sign
						out</a></li>
			</ul>

		</div>
	</nav>

</div>





<div th:fragment="nav-page">
	<nav
		class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">ShopME</a>
		<a class="navbar-brand" href="/admin/pages">Page</a> <input
			class="form-control form-control-dark w-100" type="text"
			placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap"><a class="nav-link" href="#">Sign
					out</a></li>
		</ul>
	</nav>

</div>

<div th:fragment="nav-category">
	<nav
		class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">ShopME</a>
		<a class="navbar-brand" href="/admin/category">Category</a> <input
			class="form-control form-control-dark w-100" type="text"
			placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap"><a class="nav-link" href="#">Sign
					out</a></li>
		</ul>
	</nav>

</div>

<div th:fragment="nav-product">
	<nav
		class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">ShopME</a>
		<a class="navbar-brand" href="/admin/product">Product</a> <input
			class="form-control form-control-dark w-100" type="text"
			placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap"><a class="nav-link" href="#">Sign
					out</a></li>
		</ul>
	</nav>

</div>
