
<!doctype html>
<html lang="en">

	<head th:replace="fragments/head" >
	
	</head>

 	<body>
  		<nav th:replace="fragments/nav::nav-home"></nav>

		<div class="container-fluid">
		  <div class="row">
		   <nav th:replace="/fragments/categoryMenu.html"></nav>
		    <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-md-4">
		      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		       
		        
		      </div>
				 <h1>	<p> <div th:utext="${categoryName} ?: 'All Items'" id=""></div> </p> </h1>
				
				<div class="row">
					<div class="col-4" th:each="product:${product}" >
						<p>
							<img alt="${product.image}" th:src="@{'/media/'+ ${product.image} }" style="width:100px;">
	
						</p>
							<h3 th:text="${product.name}"></h3>
							<p th:text=" '$' + ${product.price}"> </p>
							<p th:utext="${product.description}"> </p>
							<div style="position:relative;"> 
								<p>
								<a class="btn btn-primary addToCart" th:attr="data_id=${product.id}"  th:href="@{'/cart/add/'+ ${product.id} }"> Add to cart </a>
								<img  class="ajaxLoader d-none" src="/image/ajax-loader.gif">
								</p>
								
								<div class="hide productAdded">Item added Successfully</div>
							  
							</div>
							<br>
					</div>
					 
				</div>
				      
		    
		    </main>
		  </div>
		</div>
		<footer th:replace="fragments/footer.html"></footer>
		<script>
	
	$("a.addToCart").click(function(e){
		e.preventDefault();
		let $this = $(this);
		$this.next().removeClass('d-none');
		let id= $this.attr("data_id");
		let url="/cart/add/"+id;
		$.get(url,{},function(data){
			$('div.cart.cartActive').html(data);
		}).done(function(){
			$this.parent.parent.find('div.productAdded').fadeIn();
			$this.next().addClass('d-none');
			setTimeout(()=>{
				$this.parent.parent.find('div.productAdded').fadeOut();
			}
			,1000);
		});
		
		
		
	});
			
		
</script>

		
	</body>
</html>
		


















	